@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #124d60;
}

#nav .nav__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1.6rem 3rem 0.5rem 3rem;
  box-shadow: 0rem -3rem 4rem 0rem #000000;
}
#nav .nav__container .nav__logo {
  max-width: 20%;
}

#nav .nav__container .nav__logo .logo {
  width: 100%;
}
#nav .nav__container .nav__header {
  text-align: center;
}
#nav .nav__container .nav__header .header {
  text-align: center;
  color: #00fff0;
  font-size: clamp(1.5rem, 3vw, 6rem);
  white-space: nowrap;
  display: inline-block;
}

.img {
  max-width: 100%;
  position: relative;
  z-index: -1;
}
.img .img__group {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0%;
}

.form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3rem;
  margin: 5rem 0rem;
}

.form .form__action {
  grid-column: 2 / 12;
  background: rgba(0, 212, 200, 0.5);
  padding: 3rem;
  border-radius: 2rem;
  backdrop-filter: blur(0.5rem);
  display: grid;
  width: 100%;
}

.form .form__action .input {
  padding: 0 1.5rem 0 1.5rem;
  background: #006a6c;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
.form .form__action .input:focus-within {
  outline: 2px solid black;
}
.form .form__action .input .input__span {
  font-size: clamp(1.2rem, 1.3vw, 3.5rem);
}

.form .form__action .all {
  padding: 1rem 1.5rem;
  background: #006a6c;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  outline: none;
  font-size: clamp(1.2rem, 1.3vw, 3.5rem);
}

.form .form__action .all::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: clamp(1.2rem, 1.3vw, 3.5rem);
}

.form .form__action .number_of_times {
  padding: 0 3rem;
}
.form .form__action .number_of_times .label {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: clamp(1.5rem, 1.8vw, 5rem);
  color: #fff;
  font-weight: bold;
}
.form .form__action .number_of_times #range {
  display: flex;
  align-items: center;
}
.form .form__action .number_of_times #range #value {
  width: 100%;
  height: 1rem;
  appearance: none;
  outline: none;
  background: #006a6c;
  border-radius: 8rem;
}

.form .form__action .number_of_times #range #value::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #00fff0;
  cursor: pointer;
  border-radius: 50%;
}

.form .form__action .number_of_times #range #range__number {
  font-size: clamp(1.5rem, 1.8vw, 5rem);
  padding-left: 2rem;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}

.form .form__action .send {
  margin: 2rem auto 0 auto;
  display: inline-block;
  padding: 1.5rem 3rem;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #124d60;
  font-weight: bold;
  font-size: clamp(1.5rem, 1.8vw, 5rem);
  white-space: nowrap;
  background: #00fff0;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form .form__action .send:hover {
  transform: translateX(0rem) translateY(-0.3rem);
  box-shadow: 0rem 0.3rem 0.8rem #000000;
}

.foot__img {
  position: relative;
  max-width: 100%;
}
.foot__img .foot__image {
  width: 10%;
  position: absolute;
  top: 0%;
}

#footer {
  text-align: center;
  margin-top: 8rem;
  padding-bottom: 3rem;
}
#footer .warning__para {
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: clamp(1rem, 1.2vw, 4rem);
}

#footer .copyright {
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: clamp(1rem, 1.2vw, 4rem);
}

@media only screen and (max-width: 160em) {
  #nav .nav__container .nav__logo {
    max-width: 20%;
  }

  .form .form__action .input {
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin-bottom: 3rem;
  }

  .form .form__action {
    padding: 6rem;
    border-radius: 1.5rem;
    width: 100%;
  }

  .form .form__action .textarea {
    padding: 2.5rem 3.5rem 0 3.5rem;
  }

  .form .form__action .number_of_times #range #value {
    width: 100%;
    height: 2rem;
  }

  .form .form__action .number_of_times #range #value::-webkit-slider-thumb {
    width: 4rem;
    height: 4rem;
  }

  .form .form__action .send {
    margin: 6rem auto 0 auto;
  }

  #footer {
    text-align: center;
    margin-top: 12rem;
    padding: 3rem 3rem 0 3rem;
  }
}
@media only screen and (max-width: 90em) {
  #nav .nav__container .nav__logo {
    max-width: 20%;
  }

  .form .form__action .input {
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin-bottom: 2rem;
  }

  .form .form__action {
    padding: 4rem;
    border-radius: 1.5rem;
    width: 100%;
  }

  .form .form__action .number_of_times #range #value {
    width: 100%;
    height: 1.5rem;
  }

  .form .form__action .number_of_times #range #value::-webkit-slider-thumb {
    width: 3rem;
    height: 3rem;
  }

  .form .form__action .send {
    margin: 6rem auto 0 auto;
  }

  #footer {
    text-align: center;
    margin-top: 7rem;
    padding: 3rem 3rem 0 3rem;
  }
}
@media only screen and (max-width: 64em) {
  #nav .nav__container .nav__logo {
    max-width: 20%;
  }

  .form .form__action .input {
    padding: 0rem 2rem 0rem 2rem;
    margin-bottom: 1.5rem;
  }

  .form .form__action {
    padding: 4rem;
    border-radius: 1.5rem;
    width: 100%;
  }

  .form .form__action .textarea {
    padding: 1.5rem 2rem 0 2rem;
  }

  .form .form__action .number_of_times #range #value {
    width: 100%;
    height: 1rem;
  }

  .form .form__action .number_of_times #range #value::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;
  }

  .form .form__action .send {
    margin: 6rem auto 0 auto;
  }

  #footer {
    text-align: center;
    margin-top: 7rem;
    padding: 3rem 3rem 0 3rem;
  }
}
@media only screen and (max-width: 48em) {
  #nav .nav__container .nav__logo {
    max-width: 20%;
  }
  .form .form__action .send {
    margin: 4rem auto 0 auto;
  }

  #footer {
    text-align: center;
    margin-top: 3rem;
    padding: 3rem 3rem 0 3rem;
  }
}
@media only screen and (max-width: 26.5625em) {
  #nav .nav__container .nav__logo {
    max-width: 40%;
  }

  .form {
    grid-column-gap: 0rem;
  }
  .form .form__action .send {
    margin: 2rem auto 0 auto;
  }

  .form .form__action {
    padding: 2rem;
    border-radius: 1.5rem;
    width: 100%;
  }

  #footer {
    text-align: center;
    margin-top: 3rem;
    padding: 3rem 3rem 0 3rem;
  }
}
