<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="An anonymous mailing service" />
    <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon" />
    <title>Page Not Found | Solo Mail</title>
    <!-- Custom css -->
    <link rel="stylesheet" href="../style/index.css" />
  </head>
  <body>
    <nav id="nav">
      <div class="nav__container">
        <div class="nav__logo">
          <a href="index.html">
            <img src="../img/logo.svg" alt="Logo" class="logo" />
          </a>
        </div>
        <div class="nav__header">
          <h1 class="header">Solo Mail Service</h1>
        </div>
      </div>
    </nav>

    <div class="img">
      <img src="../img/Mask group.png" alt="Mask Group" class="img__group" />
    </div>

    <div class="_404">
      <h1 class="_404__header">404</h1>
      <h1 class="_404__sub-header">Page Not Found &#9888;</h1>
    </div>

    <div class="foot__img">
      <img src="../img/Group 3.png" alt="Foot Image" class="foot__image" />
    </div>

    <footer id="footer">
      <p class="warning__para">
        Note: Any criminal issues, problem or damage caused by the mail sent
        form here is not responsible by the author and developers. <br />
        { Use at your own risk!!! }
      </p>
      <p class="copyright"></p>
    </footer>
    <script src="../script/mail.js" type="module"></script>
  </body>
</html>
